<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索音乐demo</title>
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<style>
		*{margin: 0;padding: 0;list-style: none;}
		h3,h4{font-weight: normal;}
		#music_view{width: 600px;margin: 20px auto;border: 1px solid #ccc;box-sizing: border-box;
			padding: 15px;overflow: hidden;}
		.music_input{padding: 5px;}
		.search_list li:hover,.search_list li.active{background-color: #666;color: #fff}
		.footer_btn{margin-top: 20px;}
	</style>
</head>
<body>
<div id="music_view">
	<h3>&nbsp;这里是名字</h3>
	<!-- 音乐初始界面 -->
	<div class="music_search" v-if="no_choise">
		<el-input  placeholder="请输入你要搜索的歌名" prefix-icon="el-icon-search" v-model="kwd" class="music_input" @keyup.enter.native="search_music($event)"  @keyup.down.native="down_choise()" @keyup.up.native="up_choise()"></el-input>
		<!-- 搜索到的列表界面 -->
		<ul class="search_list">
			<li v-for="(music,index) in music_list" @click="choise(music)" @keyup.enter.native="enter_choise()" :class="{'active':index==choise_index}">{{music.name}}-{{music['artists'][0]['name']}}</li>
		</ul>
	</div>
	<!-- 发布音乐 -->
	<div class="music_pub" v-if="!no_choise">
		<el-row>
			<el-col :span="6">
				<img :src="choise_music_info.album.picUrl" alt="" style="width: 100%">
			</el-col>
			<el-col :span="15" :offset="1">
				<h4>{{choise_music_info.name}}</h4>
				<audio :src="choise_music_info.audio" controls="true" ></audio>
			</el-col>	
			<el-col :span="2" @click.native="no_choise=true">
				X
			</el-col>					
		</el-row>
		<el-row>
			<el-input type="textarea" ></el-input>
		</el-row>
	</div>
	<el-row class="footer_btn">
		<el-col :span="3">
			<el-button>取消</el-button>
		</el-col>
		<el-col :span="3" :offset="18">
			<el-button type="success">发布</el-button>
		</el-col>
	</el-row>
</div>
<script>
	new Vue({
		el:'#music_view',
		data:{
		     kwd: '', //关键词
		     music_list: [], //音乐列表
		     no_choise: true, //有没有选择
		     choise_music_info: [], //当前选择的音乐
		     choise_index:-1
		},
		methods:{
			//搜索音乐
			search_music:function (event) {
				if(event.key=="ArrowDown"|| event.key=="ArrowDown"){
					return;
				}
				var music_word=this.kwd;
				if(music_word){
				 	$.getJSON('http://s.music.163.com/search/get/?version=1&src=lofter&type=1&filterDj=false&s='+music_word+'&limit=8&offset=0&callback=?', (rtnData)=> {
				 			// 拓展运算符 ...
							this.music_list.push(...rtnData.result.songs)
					})
				}
			},
			//回车选择音乐
			enter_choise: function() {
				this.no_choise = false;
				this.choise_music_info = this.music_list[this.choise_index];
			},
			//向下选择音乐
			down_choise:function(){

				if(this.choise_index==7){
					this.choise_index=0;
				}else{
					++this.choise_index
				}
				
			},
			//向上选择音乐
			up_choise:function(){
				if(this.choise_index==0){
					this.choise_index=7;
				}else{
					--this.choise_index
				}
			},			
			//选择音乐
			choise:function(music){
				this.no_choise = false;
				this.choise_music_info = music;
			}
		}
	})
</script>
</body>
</html>